<ion-content [fullscreen]="true">
  <ion-card class="headerCard">
    <div class="imgContainer">
      <div class="overlay">
        <div class="overlayText">
        <br/><span>About Us</span></div>
      </div>
      <img class="imgSlider" src="../../assets/img/toronto-header.jpg">
    </div>
  </ion-card>
  <ion-card mode="md">
    <ion-card-header>
      <ion-card-title class="konguText right">History</ion-card-title>
    </ion-card-header>
    <img class="imgSiz" alt="Kongu Canada" src="../../assets/img/nature.jpg" />
    <ion-card-content>
      <ion-item>
        <div class="abtTxtContainer">
          <p class="aboutText">
            Right from the beginning, Kongu Nadu was a part of ancient Tamil Nadu. They were also the sons of the soil. The ancient Kongu Country is well known as Kongu Nadu and commercial contact with the
            western world during the first few centuries of the Christian era. To substantiate this, more than two thousand Roman Coins were unearthed from important places like Velanthavalam, 
            Anaimalai, Pollachi, Erode, Namakkal, Karur and Coimbatore of Kongu Country ranging from 1st Century B.C to the 4th Century AD.
          </p><br/>
          <p class="aboutText">
            There are many references in the Devaram,Periyapuranam and Paripadal about the twenty highways connecting Kongu Country with Pandya Country facilitating the communication, commerical and military systems
            with the neighbour states, and so many Significances are there in Kongu Nadu. Though the Kongu Nadu is still populated by mostly agricultural communities, they are still politically and culturally very powerful communities. The
             Kongu leaders had so much freedom, reverence and respect during all three regions of Pandya, Cholas and Cheras. The people were efficient and extensive internal as well as foreign contacts. 
          </p>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card mode="md">
    <ion-card-header>
      <ion-card-title class="konguText right">About Us</ion-card-title>
    </ion-card-header>
    <img class="imgSiz" alt="Kongu Canada" src="../../assets/img/temple.jpg" />
    <ion-card-content>
      <ion-item>
        <div class="abtTxtContainer">
          <p class="aboutText">
            Kongu Canada was founded by a team of interested and enthusiastic people in 2018 to provide a platform for all Kongu families living in Canada, to get together, network, stay connected and support each other.
            After the grand success of the first Kongu family meet in 2019 Toronto, Kongu Canada continuing the Kongu family meet every year.
          </p>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card mode="md">
    <ion-card-header>
      <ion-card-title class="konguText right">Purpose of Kongu Canada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <div class="abtTxtContainer">
          <ul>
            <li>
              To preserve, maintain and promote cultural heritage of the people of Kongu community from India
            </li>
            <li>
              To help and propagate cultural, eductional, social, economic and community affairs of the people of Kongu origin in Canada
            </li>
            <li>
              To organize periodic South Indian literary, cultural and educational conferences in Canada to promote Kongu culture
            </li>
            <li>
              To foster brotherhood and togetherness among people from Kongu background and others
            </li>
            <li>
              To promote and carry forward Kongu culture to the younger generation
            </li>
            <li>
              To meet periodically and celebrate traditional festivals and customs as a community
            </li>
          </ul>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <br/><br/><br/><br/>
</ion-content>
