ion-content{
    top:0px;
  }
.headerCard{
margin:0px;
border-radius: 0%;
}
.imgContainer{
    height: 25vh;
    width: 100%;
  }
  
  .imgSlider{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ion-card-title{
    height: 350px;
}

.card-img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.overlay{
    font-weight: 600;
}

p{
    line-height: 2;
}

ion-icon{
    font-size: 35px;
    color: var(--kongu-green);
}

.emailTitle{
    font-weight: 600;
}

.email, .emailTitle{
    color: black;
    display: flex;
    align-items: center;
    padding-right: 5px;
    font-size: 15px;
}

ion-input, ion-textarea{
    --inner-border-width:0px;
    --border-style: none;
    border-bottom: none;
    --border-width: 0px;
    font-size: 15px;
    ion-icon{
        font-size: 20px;
        color: var(--kongu-green);
    }
}

ion-item{
  border-bottom: solid 1px var(--kongu-green);
  --padding-start:0px;
}

.submit{
  display:flex;
  justify-content: right;
  ion-button {
    height: 2.1em;
    font: size 15px;
    font-weight: 700;
  }
}


.submitNote{
    color: black;
    font-size: 15px;
}

.iconEmailTxt{
  font-size: 20px;
}

.email{
  border:none;
  width: 100%;
  ion-list{
    width: 100%;
  }
}

.emailContainer{
  display: flex;
  ion-icon{
    padding-right: 10px;
  }
}

.socialTxt{
  width: 130px;
}


.toast{
  
  font-size: 90px;
}


/** animation **/

.right{
    animation-duration: 2s;
    animation-name: fadeInRight;
  }

.left{
    animation-duration: 2s;
    animation-name: fadeInLeft;
}
  
  /***************/