<ion-grid fixed>
  <ion-row>
    <ion-col size="12"
    size-xs="3"
    size-sm="3"
    size-md="3"
    size-lg="2"
    size-xl="2"
    *ngFor="let gallery of showImageTile; let index=index">
      <div class="image">
        <img (click)="onPreviewImage(index)" [src]="gallery.imageSrc" />
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="showMask" class="lightbox">
  <span *ngIf="showCount" class="count">{{currentIndex+1}}/{{totalImageCount}}</span>
  <span *ngIf="showTitle" class="title">{{title}}</span>
  <div shape="round" *ngIf="previewImage" class="close-btn" (click)="onClosePreview()"> 
    <ion-icon name="close-circle-outline" class="fa-times"></ion-icon>
  </div>
  <div *ngIf="controls"  class="btn-lightbox-carousel btn-next" (click)="next()">
    <ion-icon name="arrow-forward" class="icon-lightbox-carousel fa-times"></ion-icon>
  </div>
  <div *ngIf="controls" class="btn-lightbox-carousel btn-prev" (click)="prev()">
    <ion-icon name="arrow-back" class="icon-lightbox-carousel fa-times"></ion-icon>
  </div>
  <div *ngIf="previewImage" class="lightbox-img" [ngClass]="(enableFullSize)?'lightbox-imgFullSize':''">
    <img [src]="currentLightboxImage.imageSrc" alt="currentLightboxImage.imageAlt" />
  </div>
</div>

