<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title>
      <div class="logoContainer">
        <div>
          <img src="../../assets/img/kongu.jpg" class="logo">
        </div>
        <div class="logoItem">
          Kongu Canada
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md">
    <ion-tab-button aria-hidden="true" tab="home" href="/home">
      <ion-icon aria-hidden="false" name="home"></ion-icon>
      <ion-label>
        <div class="menu">
          Home
        </div>
      </ion-label>
    </ion-tab-button>
    <ion-tab-button aria-hidden="true" tab="aboutus" href="/aboutus">
      <ion-icon name="document"></ion-icon>
      <ion-label>
        <div class="menu">
          About Us
        </div>
      </ion-label>
    </ion-tab-button>
    <ion-tab-button aria-hidden="true" tab="gallery" href="/gallery">
      <ion-icon name="images"></ion-icon>
      <ion-label>
        <div class="menu">
          Gallery
        </div>
      </ion-label>
    </ion-tab-button>
    <ion-tab-button aria-hidden="true" tab="contactus" href="/contactus">
      <ion-icon name="map"></ion-icon>
      <ion-label>
        <div class="menu">
          Contact Us
        </div>
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 
