

/* slider styles */

.swiper-3d .swiper-slide-shadow-right {
  background-image: unset;
} 

.swiper-3d .swiper-slide-shadow-left {
  background-image: unset;
}

.imgContainer{
  height: 50rem;
  width: 100%;
}

.imgSlider{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-button{
  font-size: 15px;
  font-weight: 700;
}

span
{
  font-size: 4rem;
  font-weight: 700;
}


/******************/

.learnMore{
  display:flex;
  justify-content: right;
}

p {
  line-height: 2;
}

/** animation **/

ion-card-title {
  animation-duration: 2s;
  animation-name: fadeInRight;
}

ion-thumbnail{
  animation-duration: 3s;
  animation-name: fadeInLeft;
}

p,ul{
  animation-duration: 4s;
  animation-name: fadeInRight;
}

.learnMore{
  animation-duration: 5s;
  animation-name: fadeInLeft;
}

/***************/